<nav>
  <div class="navigation" [ngClass]="{ bgEnabled: backgroundOnScroll }">
    <div class="nav-container">
      <div class="left-side">
        <div
          class="home"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <p>Coffee-API</p>
        </div>
      </div>
      <div class="right-side">
        <div
          class="documentation"
          routerLink="./documentation"
          routerLinkActive="active"
        >
          <p>Documentation</p>
        </div>
      </div>
    </div>
  </div>
</nav>
