.footer {
  display: grid;
  min-height: 100px;
  background: #641f1f;
  color: var(--white);
  font-size: 0.9em;
  padding: 10px;
}
.date {
  display: flex;
  gap: 0.4em;
  justify-content: flex-end;
}
.language {
  align-self: flex-end;
  display: flex;
  justify-content: center;
}
