.intro {
  height: 400px;
}
.intro-container {
  position: relative;
}
.intro-container img {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 400px;
  object-fit: cover;
}
.intro-container h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7em;
  font-weight: 900;
}
.documentation {
  padding: 0.625em;
  font-size: 1.1em;
  line-height: 1.2;
  max-width: 1000px;
  margin: auto;
  overflow-x: hidden;
}

.text {
  margin: 2em 0 5em;
}

.request,
.response {
  margin: 3em 0;
}
.text p {
  margin-bottom: 0.5em;
}
.example .http-get {
  font-weight: 700;
  color: var(--cappuccino);
  margin-right: 0.5em;
}
.get {
  display: flex;
  justify-content: space-between;
  gap: 0.3em;
  padding: 0.625em;
  background: var(--white-table);
  border-radius: 0.5em;
}
.get p {
  margin: 0;
}
.get i,
.first-line i {
  color: var(--cappuccino);
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1);
  will-change: transform;
}
.get i:hover,
.first-line i:hover {
  transform: scale(1.1);
}

.error,
.success {
  padding: 0.5em;
  border-left: 3px solid #c50000;
  margin: 0.4em 0;
  font-size: 0.9em;
}
.success {
  border-left: 3px solid green;
}

.table-title,
.example-title {
  margin-bottom: 0.5em;
}
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

table tr {
  padding: 0.35em;
}

.response tbody tr:first-child,
.response tbody tr:last-child {
  height: 63px;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
  word-wrap: break-word;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: var(--cappuccino);
  color: var(--white);
  padding: 0.8em;
}
tbody tr:nth-child(odd) {
  background: var(--white-table);
}
.response p {
  margin-top: 0.5em;
}

.example-API-call {
  margin-bottom: 8em;
}
.code-container {
  position: relative;
  background: var(--white-table);
  padding: 1em;
  border-radius: 0.5em;
}
.first-line {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}

.code-container .purple {
  color: #b500b5;
}
.code-container .lightblue {
  color: #04a5e3;
}

.code-container .orange {
  color: orange;
}

.example {
  position: relative;
}

.success,
.error {
  position: absolute;
  top: 100%;
  left: 0;
}

/* dark more  */
.documentation-wrapper {
  transition: 0.3s;
}
.documentation-wrapper.darkMode {
  background: var(--general-dark-bg);
  color: var(--white);
}
.get.darkMode {
  background: #000;
}
tbody tr:nth-child(odd).darkMode {
  background: #4d4d4d;
  color: var(--white);
}
.code-container.darkMode {
  background: #000;
}
table th.darkMode {
  background: #a06308;
}
.code-container.darkMode .purple {
  color: #8e028e;
}
.code-container.darkMode .lightblue {
  color: #007fb0;
}
.code-container.darkMode .orange {
  color: #db8e01;
}
@media (max-width: 700px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    display: none;
  }

  table tr {
    display: block;
    margin-bottom: 0.625em;
    box-shadow: 0px 1px 3px 0px #7e7e7eb0;
    border: none;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    text-align: right;
  }

  table td span {
    word-break: break-all;
  }

  table td::before {
    content: attr(data-label);
    min-width: 40%;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    color: #c47908;
  }

  table td:last-child {
    border-bottom: 0;
  }

  .response tbody tr:first-child,
  .response tbody tr:last-child {
    height: auto;
  }

  tbody tr:nth-child(odd) {
    background: white;
  }
  tbody tr.darkMode {
    box-shadow: 0px 1px 3px 0px #000000b0;
  }
  tbody tr.darkMode {
    background: #222222 !important;
  }

  table td.darkMode:not(:last-child) {
    border-bottom: 1px solid #626262;
  }
}
@media (min-width: 700px) {
  ::ng-deep .previous {
    width: 50% !important;
  }
}
