@font-face {
  font-family: "Kulim";
  src: url("./assets/Kulim/KulimPark-Regular.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Kulim";
  src: url("./assets/Kulim/KulimPark-SemiBold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Kulim";
  src: url("./assets/Kulim/KulimPark-Bold.ttf") format("truetype");
  font-weight: 900;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kulim", sans-serif;
}
:root {
  --brown: brown;
  --dark-brown: #442121;
  --white: #fff;
  --white-table: #f8f8f8;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background: rgb(203, 203, 203);
  border-radius: 10px;
}
